/*=========================================================================
  layouts - hero-banner
===========================================================================*/

@mixin show-hero-banner {
  .hero-banner {
    &__img,
    &__title,
    &__desc,
    &__btn {
      opacity: 1;
      transform: none;
    }
    &__img {
      transition: opacity 3.5s ease, transform 5s ease;
      transition-delay: 0s;
      transform: scale(1);
    }
    &__title {
      transition-delay: 0.65s;
    }
    &__desc {
      transition-delay: 0.8s;
    }
    &__btn {
      transition-delay: 0.95s;
    }
  }
}

.hero-banner {
  $b: &;
  height: 100vh;
  min-height: 568px;
  max-height: 1200px;
  @include small {
    min-height: 592px;
  }
  #{$b} {
    &__img {
      opacity: 0;
      transform: scale(1.25);
      transition: all 5s ease;
    }
    &__title,
    &__desc,
    &__btn {
      opacity: 0;
      transition: all .75s ease;
      transition-delay: 0s;
      transform: translateX(-32px);
    }
  }
  // 1 item
  &--single-show {
    @include show-hero-banner;
  }
  // more than 1
  &.owl-carousel {
    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
    }
    .owl-item {
      &.active {
        @include show-hero-banner;
      }
    }
  }
}
