//alivio__item
.alivio__item
  .alivio__box
    .alivio__txt
      h3.alivio__title
        ='\n'
        span.alivio__span
          ='\n'
          | !{data.title}
      .alivio__desc
        ='\n'
        | !{data.desc}
      ='\n'
      img.alivio__img(src=data.img alt=data.title)/
///alivio__item
