//-----------------------------------------------------------------------------
  @name: Commponents - How-it
 -------------------------------------------------------------------------------//
//how-it
.how-it
  .container
    .how-it__wrapper
      .how-it__left
        h4.how-it__head
          ='\n'
          | !{data.subtitle}
        h2.how-it__title
          ='\n'
          | !{data.title}
      .how-it__right
        p.how-it__desc
          ='\n'
          | !{data.desc}
///how-it
