.popup
  .popup__midle
    .popup__content
      .container
        .popup__wrapper
          button.popup__close.js-popup-close(type=button)
            img.popup__icon(src='assets/img/icons/egg1.png', alt='close')/
          .popup__video-frame
            iframe.popup__frame(src=''  allow= 'autoplay' allowfullscreen='')
