extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Why Alivio';

//- Body
block siteContent

  //- hero-banner
  include home/hero-banner.pug

  //-how-it
  include home/how-it.pug

  //-alivio
  include home/alivio.pug

  //-story
  include home/story.pug

  //-our-product
  include home/our-product.pug

