extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Why Alivio';

//- Body
block siteContent

  ='\n\n'
  //- hero-banner
  include home/hero-banner.pug

  ='\n\n'
  //-how-it
  include home/how-it.pug

  ='\n\n'
  //-alivio
  include home/alivio.pug

  ='\n\n'
  //-story
  include home/story.pug

  ='\n\n'
  //-our-product
  include home/our-product.pug


