-
  dataAlivio = {
    id: '#',
    alivioItem: [
                  {
                    img: 'assets/img/dummy/psz.png',
                    title: 'Personalize',
                    desc: 'Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!',
                  },
                  {
                    img: 'assets/img/dummy/w-u.png',
                    title: 'Write & Understand',
                    desc: 'Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!',
                  },
                  {
                    img: 'assets/img/dummy/av.png',
                    title: 'Alivio!',
                    desc: 'Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!',
                  }
                ]
  };
include ../../layouts/alivio.pug
