-
  dataBanner = {
    id: '#',
    bannerItem: [
                  {
                    bannerImg: 'assets/img/bg/bg-banner.jpg',
                    title: 'Be aware, Manage well.',
                    text: 'Everyone experiences stress in different ways.Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
                    btn: {
                      to: '#',
                      className: 'btn--primary',
                      text:'Find Your Way'
                    }
                  },
                  {
                    bannerImg: 'assets/img/bg/bg-banner2.jpg',
                    title: "Let's Join Us",
                    text: 'Everyone experiences stress in different ways.Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
                    btn: {
                      to: '#',
                      className: 'btn--primary',
                      text:'Find Your Way'
                    }
                  },
                  {
                    bannerImg: 'assets/img/bg/bg-banner3.jpg',
                    title: 'Improve Your Skills.',
                    text: 'Everyone experiences stress in different ways.Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
                    btn: {
                      to: '#',
                      className: 'btn--primary',
                      text:'Find Your Way'
                    }
                  }
                ]
  };

include ../../layouts/hero-banner.pug
