-
  data = {
            subtitle: 'How it works',
            title: 'Understand & Release the stress in 3 steps',
            desc: 'Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.',
          };
include ../../components/how-it.pug
