-
  dataProduct = {
    id: 'community',
    productImg: 'assets/img/dummy/image.jpg',
    productAlt: 'mikayla',
    title: 'You tell us your stress, We make your diary',
    subtitle: 'Our product',
    desc: 'Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
    smallProduct: {
      smallImg: 'assets/img/dummy/image2.jpg',
      smallTitle: 'Customized For',
      smallName: 'Mikayla',
      smallContent: 'Your custom contents',
      smallItem: 'Understand Your Stress',
      smallItem2: 'Anger Management'
    },
    btn: {
      to: '#',
      className: 'btn-primary',
      text: 'Find Your Way',
    }
  }
include ../../components/our-product.pug
