-
  dataStory = {
    storyImg: 'assets/img/dummy/story.jpg',
    storyIcon: 'assets/img/icons/play.svg',
    urlVideo: 'https://www.youtube.com/embed/6Xy4v7_nSk0?autoplay=1',
    title: 'Let s hear about Kayla s success story',
    desc: 'See how well Alivio works in a real customer’s life.',
    btn: {
      to: '#',
      className: 'btn--primary',
      text: 'Let s get started,',
    }
  };
include ../../components/story.pug
