//-----------------------------------------------------------------------------
  @name: Layouts - Alivio
 -------------------------------------------------------------------------------//
//alivio
.alivio(id=dataAlivio.id)
  .container
    .alivio__list
      each val, index in dataAlivio.alivioItem
        -
          data = val
        include ../components/alivio.pug

///alivio
