//-----------------------------------------------------------------------------
  @name: Layouts - Footer
 -------------------------------------------------------------------------------//
-
  dataFooter = {
    footerImg: 'assets/img/logo/alivio.svg',
    footerAlt: 'Alivio',
    footerList: [
                  {
                    txt: 'Why Alivio',
                    link: '#whyAlivio'
                  },
                  {
                    txt : 'Solutions',
                    link: '#solutions'
                  },
                  {
                    txt: 'Community',
                    link: '#community'
                  },
                  {
                    txt: 'Pricing',
                    link: '#pricing'
                  }
                ]
  };
// footer
.footer
  .container
    .footer__wrapper
      ='\n'
      a.footer__logo.js-footer-logo(href='#whyAlivio')
        ='\n'
        img.footer__logo__el(src=dataFooter.footerImg, alt=dataFooter.footerAlt)/
    .footer__menu.js-footer-menu
      ul.footer__nav
        each val, index in dataFooter.footerList
          li.footer__nav__item
            ='\n'
            a.footer__nav__link(href=val.link)
              ='\n'
              | !{val.txt}
='\n'
///footer

