/*=========================================================================
  variables - color
===========================================================================*/

$colors: (
  primary: #01996d,
  secondary: #245852,
  green: #04aa6d,
  grey: (
    1: #292929,
    2: #424242,
    3: #484848
  ),
  white: #fff,
  black: #000,
);
